{% load menu_tags %}
<table>
<tr>
	<ul class="panel">
		{% show_menu 0 2 10 10 "menu-toplevel-general.html" %}
	</ul>
</tr>
<tr>
	<h3>COMMUNITY</h3>
	<ul class="panel">
		{% show_menu 0 2 10 10 "menu-community.html" %}
	</ul>
</tr>
<tr>
	<h3>TECHNICAL</h3>
	<ul class="panel">
		{% show_menu 0 2 10 10 "menu-technical.html" %}
	</ul>
</tr>
<tr>
	<h3>EXTRAS</h3>
	<ul class="panel">
		{% show_menu 0 2 10 10 "menu-extras.html" %}
	</ul>
</tr>
<tr>
	<h3>MY ACCOUNT</h3>
	<ul class="panel">
	{% if user.is_authenticated %}
		<li><a class="menu" href="{% url 'myprofile' %}">{{ user }}'s profile</a></li>
		<li><a class="menu" href="{% url 'logout' %}">log out</a></li>
	{% else %}
		<li><a class="menu" href="{% url 'login' %}">log in</a></li>
		<li><a class="menu" href="{% url 'register' %}">register</a></li>
	{% endif %}
	{% if user.is_staff %}
		<li><a class="menu" href="{% url 'admin:index' %}">admin</a></li>
	{% endif %}
	</ul>
</tr>
</table>
